table,
th,
td {
    caption-side: bottom;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

thead th {
    background-color: rgba(5, 0, 0, 0.504);
    color: white;
}

thead th:nth-of-type(1) {
    background-color: black;
    color: white;
    font-size: 1.4em;
}

tbody tr:nth-of-type(even) {
    background-color: #ccc;
}

tbody th,
tbody td {
    border: 1px solid rgba(161, 158, 158, 0.551);
}