@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Prata&display=swap');
nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #0090C1;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 7px 10px #888888;
    font-family: Prata, sans-serif;
}


/* nav {
    position: fixed;
    overflow: hidden;
    width: 75%;
    padding-left: 30px;
    margin-top: -65px;
} */

h1,
h2,
h3,
h4 {
    font-family: Prata, sans-serif;
    padding: 20px;
    color: #0090C1;
}

ol,
li,
li::marker {
    text-align: left;
    font-family: Hind Vadodara, sans-serif;
}

h5 {
    font-family: Prata, sans-serif;
    color: #0090C1;
}

p,
.text {
    font-family: Hind Vadodara, sans-serif;
}

nav li {
    padding: 20px 60px 20px 60px;
}

nav a {
    text-decoration: none;
    color: #0C0909;
    font-size: 1.5em;
    text-align: center;
}

nav a:hover {
    color: #046E8F;
}

nav li:hover {
    background-color: #A2E8DD;
}

body {
    background-color: #046E8F;
    text-align: center;
    font-family: Basic, 'Times New Roman', Times, serif;
}

#content {
    background-color: white;
    padding: 30px;
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 7px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.grid p {
    padding: 15px;
}

.personas {
    width: 300px;
    height: 280px;
}

section h3 {
    padding: 5px;
}

.primary {
    background-color: #046E8F;
    color: #A2E8DD;
}

.secundary {
    background-color: #0090C1;
    color: #A2E8DD;
}

.accent-one {
    background-color: #A2E8DD;
    color: #046E8F;
}

.accent-two {
    background-color: #0C0909;
    color: #A2E8DD;
}

.text a:hover {
    text-decoration: none;
    color: #A2E8DD;
}

#design,
#typography,
#personas,
#purpose {
    text-decoration-line: underline;
}

.sitemap {
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    nav a {
        font-size: 1.1em;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}

@media screen and (max-width: 750px) {
    nav ul {
        display: block;
    }
    nav li {
        padding: 10px;
        text-align: center;
    }
    nav a {
        font-size: 1.3em;
    }
    p,
    ol {
        margin-left: 2em;
        margin-right: 2em;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}